# Reactor
REACTOR_NAME=agave-test
REACTOR_DESCRIPTION="Quickly validate Agave client functionality"
REACTOR_ALIAS=agave-test

# Docker image
DOCKER_HUB_ORG=sd2e
DOCKER_IMAGE_TAG=agave-test
DOCKER_IMAGE_VERSION=dev
