[{
    "MSG": "Hi",
    "_abaco_Content-Type": "application/json",
    "_abaco_actor_state": {},
    "_abaco_username": "taco",
    "_abaco_actor_dbid": "2d1ed766bf9cc45977c",
    "_abaco_actor_id": "2d1ed766bf9cc45977c",
    "_abaco_execution_id": "befa9419c87cbe2be9c75",
    "_abaco_api_server": "",
    "_abaco_access_token": ""
}]
